.seat {
    height: 30px;
    width: 40px;
    margin: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat:hover {
    transform: scale(1.1);
}

.row {
    display: flex;
}

.seat-grey {
    background-color: #ddd;
}

.seat-black {
    background-color: #6feaf6;
}

.seat-undefined {
    cursor: auto;
    pointer-events: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
    margin: 3% auto;
    background-color: #f3f3f3;
}